.wp-block-image.alignfull { width: 100vw; position: relative; margin-left: -50vw; left: 50%; max-width: inherit; }
.wp-block-embed-vimeo, .wp-block-pullquote, blockquote.wp-block-quote, .wp-block-image, .wp-block-cover-image { margin-bottom: 1.5em; margin-top: 0; }
.wp-block-gallery { margin-bottom: 25px; margin-top: 0; }
.single-post .blog-entry .entry-body { padding:0; }
.entry-details p { margin-bottom: 1.5em; }
blockquote.wp-block-quote > p { border: none; margin: 0px; padding: 15px 0; }
blockquote.wp-block-quote { padding-bottom: 15px; }
.wp-block-image figcaption { margin-bottom: 0; }
ul.wp-block-gallery li { padding: 0; margin: 0; } 
.wp-block-pullquote p { border: none; display: block; padding: 0; }
.wp-block-gallery.is-cropped .blocks-gallery-image a, .wp-block-gallery.is-cropped .blocks-gallery-image img, .wp-block-gallery.is-cropped .blocks-gallery-item a, .wp-block-gallery.is-cropped .blocks-gallery-item img { flex:1; height:100%; object-fit:cover; -o-object-fit:cover; }